@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    color: white;
    background-color: black;
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  --f: .5em; /* control the folded part*/
  --fpx: 8px; /* control the folded part*/
  --r: .8em; /* control the ribbon shape */
  
  /* position: absolute;
  top: 20px;
  right: calc(-1*var(--f)); */
  padding-inline: .25em;
  line-height: 1.8;/* 
  background: #FA6900; */
  border-bottom: var(--fpx) solid #0005;
  border-left: var(--r) solid #0000;
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--fpx)),calc(100% - var(--fpx)) 100%,
      calc(100% - var(--fpx)) calc(100% - var(--fpx)),0 calc(100% - var(--fpx)),
      var(--r) calc(50% - var(--fpx)/2));
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}